* {
  font-family: 'Raleway', sans-serif;
  padding: 2px;
}

body {
  background-color: #ffd401;
  /*outline: solid red;*/
}

  .triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#a2a2ba; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#ADE1FB), to(#a2a2ba));
  background:-moz-linear-gradient(#ADE1FB, #a2a2ba);
  background:-o-linear-gradient(#ADE1FB, #a2a2ba);
  background:linear-gradient(#ADE1FB, #a2a2ba);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.center-me {
  margin: 0 auto;
}

#tweets {
  background-color: #d6e0e5;
  padding: 10%;
}

.sidebar {
  float: left;
}

.main {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  align-self: center;
}

.logo-wrapper {
  align-self: center;
  /*outline: solid white;*/
}

#logo {
  display: inline-block;
 /* outline: solid white;*/
}

#logo-text {
  /*outline: solid white;*/
}

.button-wrapper {
  display: table;
  margin: 0 auto;
  width: 55%;
}

#login-button {
  display: table-cell;
  margin: 0 auto;
  align-self: center;
  width: 75px;
  color: #000;
  background-color: #a2a2ba;
  border: solid 1px black;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 2px;
  /*outline: solid red;*/
} 

#sign-up-button {
  display: table-cell;
  margin: 0 auto;
  align-self: center;
  width: 75px;
  margin-left: 2px;
  color: #000;
  background-color: #a2a2ba;
  border: solid 1px black;
  font-size: 14px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /*outline: solid red;*/
}

#form-field-left, #form-field-right {
  margin: -2px;
  display: inline-block;
  /*outline: solid white;*/
}

#email-field {
     /* css 3 */
 border-top-left-radius:10px;
  /* mozilla */
 -moz-border-top-left-radius:10px;
 /* webkit */
 -webkit-border-top-left-radius:10px;
     /* css 3 */
 border-bottom-left-radius:10px;
  /* mozilla */
 -moz-border-bottom-left-radius:10px;
 /* webkit */
 -webkit-border-bottom-left-radius:10px;
}

#pass-field {
     /* css 3 */
 border-top-right-radius:10px;
  /* mozilla */
 -moz-border-top-right-radius:10px;
 /* webkit */
 -webkit-border-top-right-radius:10px;
     /* css 3 */
 border-bottom-right-radius:10px;
  /* mozilla */
 -moz-border-bottom-right-radius:10px;
 /* webkit */
 -webkit-border-bottom-right-radius:10px;
}

input[type="text"], textarea, input[type="password"], textarea {
  background-color: #FFF;
  height: 15px;
  margin-bottom: 2px;
  border: 1px solid black;
}


/* center the placeholder text in all browsers? */

::-webkit-input-placeholder {
   text-align: center;
   font-size: 14px;
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center; 
   font-size: 14px;
   color: #000; 
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   font-size: 14px;
   color: #000;
}

:-ms-input-placeholder {  
   text-align: center;
   font-size: 14px; 
   color: #000;
}

/* center the placeholder text */