<form method="post" action="/users/edit">
<input type="hidden" name="id" value="<%= @user.id %>">
	<input type="text" name="first_name" placeholder="First name">
	<input type="text" name="last_name" placeholder="Last name">
	<input type="text" name="email" placeholder="Email">
	<input type="text" name="username" placeholder="Username">
	<input type="text" name="about_me" placeholder="Bio">
	<input type="text" name="location" placeholder="Where ya from?">
	<input type="submit" name="submit">
</form>
	

	
	


