<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


  <title>Welcome to Twitta</title>
</head>
<body>
  <div id="content">
    <header>
    </header>
    <div class="main">

    <div class="logo-wrapper">

    <div id="logo">
      <a href="/">
        <img src="http://i.imgur.com/Frep9uu.jpg" alt="Twitta Logo"></a>
        <div id="logo text"><h1>Twitta</h1></div>
        </div>
        </div>
        </div>
        <%= yield %>
      </div>
    </body>
    </html>
