<div class="main">
    <form>
      <div id="form-field-left">
        <input type="text" name="email" placeholder="Email" id="email-field">
      </div>
      <div id="form-field-right">
        <input type="password" name="email" placeholder="Password" id="pass-field">
      </div>
      <div class="button-wrapper">
        <input type="submit" value="Login" id="login-button">
        <input type="submit" value="Sign Up" id="sign-up-button">
      </div>
    </form>
  </div>