<div class="navbar">
	<form method="post" action="/users/results">
		<input type="text" name="search">
		<input type="submit" value="Search" class="button">
	</form>

	<form>
		<input type="submit" value="Log Out" id="log-out-button" formaction="/logout" formmethod="post">
	</form>
</div>
<div class="sidebar">
	<!-- logo/name on top -->
	<!-- where followers/following goes -->
</div>
<div class="main">
	<h1><%= @user.username %></h1>
	<%= @user.about_me %>
	<%= @user.location %>
	<div id="tweets">
	<% if @posts != nil %>
	<% @posts.reverse.each do |post| %>
	<p class="triangle-isosceles">	<%= post.content %></p>
	<% end %>
	<% end %>
	</div>

<form method="get" action="/users/stream">
	<input type="submit" value="Stream" class="button">
</form>
</div>

