<form class="center-me">
    <input type="submit" value="Home" class="button" formaction="/" formmethod="get">
  </form>

<div id='stream-tweets'>
<% @posts.reverse.each do |post| %>
	<p class="triangle-isosceles"><%= post.content %></p><br>
<% end %>
</div>